<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
        <img class="logo" src="/assets/images/roswell-icon.png"> 
        <label>Curso <br> Angular</label>
      </a>
    <div class="header item borderless">
      <h1 class="ui header">
        Angular Built in Directives
      </h1>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="six wide column">
    <app-sidebar [items]="examples"></app-sidebar>
    <!--Aquí va el sidebar-->
  </div>
  <div class="ui main text container nine wide column">
    <!--Aquí va el container-->
    <router-outlet></router-outlet>
  </div>
</div>