<div class="col-sm-6 col-sm-3">
  <div class="thumbnail">
    <img src="{{ result.thumbnailUrl }}" alt="">
    <div class="caption">
      <h3>{{ result.title }}</h3>
      <h3>{{ result.description }}</h3>
    </div>
     <p><a href="{{ result.videoUrl }}" class="btn btn-default" role="button"> Ver video </a></p> 
  </div>
</div>