<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Cider the Dog</div>
      <div class="description">
        Cider is a pure-bread, AKC-registered, adorable Golden Retriever puppy
      </div>
    </div>
    <button (click)="buyButtonPressed('dog')" class="ui bottom attached button">
      <i class="add icon"></i>
      Buy Dog
    </button>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Ginger the Cat</div>
      <div class="description">
        Ginger is a tabby cat who just showed up one day
      </div>
    </div>
    <button (click)="buyButtonPressed('cat')" class="ui bottom attached button">
      <i class="add icon"></i>
      Buy Cat
    </button>
  </div>
</div>
