/* You can add global styles to this file, and also import other style files */

.ngClassDemo div {
  padding: 3px;
  margin: 3px;
}

.ngClassDemo button {
  margin-bottom: 20px;
}

.bordered {
  border: 1px dashed black;
  background-color: #eee;
}

.selector {
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.base {
  padding: 10px;
  border: 1px solid #ccc;
}

.blue {
  color: white;
  background-color: blue;
}

.round {
  border-right: 20px;
}

.otroBorde {
  border: 1px solid red !important;
}