<h2>Petición Basica</h2>
<button type="button" (click)="makeRequest()">Hacer peticioón</button>
<button type="button" (click)="makePost()">Hacer peticioón</button>
<button type="button" (click)="makeDelete()">Hacer peticioón</button>
<button type="button" (click)="makeHeaders()">Hacer peticioón</button>
<div *ngIf="loading">Cargando...</div>
<pre> {{ data | json }}</pre>